h1 {
    text-align: center;
}

hr {
    width: 80%;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

body {
    background-image: url(Chad.jpg);
    background-position: center 200px;
    background-size: 190px;
    background-repeat: no-repeat;
    background-color: rgb(150, 150, 150);
    font-family: cursive;
}

div {
    text-align: center;
    font-family: cursive;
    font-size: medium;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 270px;
}